doctype 5
html(lang='no', prefix='schema: http://schema.org/')
	head
		title Arrangementer i IT-Bergen
		link(rel='stylesheet', href='css/main.css', type='text/css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
		script(src='js/sortElements.js')
		script(src='js/sortTable.js')
	body(pre)
		header#main-header
			.container
				img#logo(src='img/kompiler.png')
		.container

			h1.no-margin.no-bottom-padding.uppercase.eight.columns Arrangementer i IT-Bergen
			#addLink.text-right.right.eight.columns.no-bottom-padding
				form(action='events', method='POST')
					label(for='urlField') Legg til IT-arrangement:
					input(type='text', placeholder='URL til arrangement', id='event', name='event')
					button submit

			#events.sixteen.columns
				header#event-header
					.date.three.columns#date Dato
					.title.seven.columns Tittel
					.venue.three.columns#venue Sted
					.arranger.three.columns#arranger Arrangør
				each event in events
					.row(resource='#{event.id}', typeof='schema:Event')
						.date.three.columns.cell(property='schema:startDate')= event.date
						.title.seven.columns.cell
							a(property='schema:url', href='#{event.source}')
								span(property='schema:name')= event.title
						.venue.three.columns.cell(property='schema:location', typeof='schema:Place')
							if event.venue.lon
								span(property='schema:geo', typeof='schema:GeoCoordinates')
									meta(property='schema:longitude', content='#{event.venue.lon}')
									meta(property='schema:latitude', content='#{event.venue.lat}')
							meta(property='schema:name', content='#{event.venue.name}')
							span(property="schema:address")= event.venue.address
						.arranger.three.columns.cell= event.arranger

			footer#main-footer.sixteen.columns.text-center
				| Drevet av Foreningen <span resource='#kompiler' typeof='schema:Organization'>
				|<link property='schema:url' href='http://kompiler.no' />
				|<meta property='schema:legalName' href='Kompiler Bergen' />
				|<a about='#kompiler' href='https://plus.google.com/111503571123822018357' rel='author'>
				|<a href="http://kompiler.no"><span property='schema:name'>Kompiler</a></span></a></span>
				br
				a(href='https://github.com/pilsprog/paraply/') Paraply

