doctype 5
html(lang='no', prefix='schema: http://schema.org/')
	head
		title Arrangementer i IT-Bergen
		link(rel='stylesheet', href='css/main.css', type='text/css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
		script(src='js/sortElements.js')
		script(src='js/sortTable.js')
	body(pre)
		header#main-header
			.container
				#logo.three.columns
					img(src='img/kompiler.png')
				.six.columns
					h1.no-margin.no-bottom-padding.uppercase Arrangementer i IT-Bergen
					form#addLink(action='events', method='POST')
						label(for='urlField') fra facebook, meetup og eventbrite
						input#event(type='text', placeholder='Legg til IT-arrangement med URL', name='event')
						button submit
				nav#options.seven.columns.text-right
					#event-sort
						.date.three.columns#date Dato
						.title.seven.columns Tittel
						.venue.three.columns#venue Sted
						.arranger.three.columns#arranger Arrangør
		.container	
			#events.sixteen.columns
				header#event-header
					
				each event in events
					.row(resource='#{event.id}', typeof='schema:Event')
						.date.three.columns.cell(property='schema:startDate')= event.date
						.title.seven.columns.cell
							a(href='#{event.source}')
								span(property='schema:name')= event.title
						.venue.three.columns.cell(property='schema:location', typeof='schema:Place')
							if event.venue.lon
								span(property='schema:geo', typeof='schema:GeoCoordinates')
									meta(property='schema:longitude', content='#{event.venue.lon}')
									meta(property='schema:latitude', content='#{event.venue.lat}')
							meta(property='schema:name', content='#{event.venue.name}')
							span(property="schema:address")= event.venue.address
						.arranger.three.columns.cell= event.arranger

		footer#main-footer
			.container
				.sixteen.columns
					| Drevet av Foreningen <span resource='#kompiler' typeof='schema:Organization'>
					|<link property='schema:url' href='http://kompiler.no' />
					|<meta property='schema:legalName' content='Kompiler Bergen' />
					|<a about='#kompiler' href='https://plus.google.com/115677007021887247036' rel='publisher'>
					|<a href="http://kompiler.no"><span property='schema:name'>Kompiler</a></span></a></span>
					.right
						Hele IT-Bergen under én 
						a(href='https://github.com/pilsprog/paraply/') Paraply

